@font-face {
    font-family: TwitterChirp;
    src: url(../Twitter_Clone/font/twitterchirp\ Regular.ttf);
}

:root {
    background-color: #fff;
    color: #0F1419;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    /* overflow: hidden !important; */
}

button {
    outline: 0;
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit
}

.full-view {


    display: grid;
    grid-template-columns: minmax(50px, 380px) minmax(420px, 550px) minmax(80px, 100px);
    /* grid-template-columns: 380px minmax(520px,600px) minmax(80px,100px); */
    /* margin: 0 auto; */
    max-width: 1200px;



}

.left-content {
    /* padding-left: 90px; */
    z-index: 100;
    /* min-width: 50px; */
    padding-right: 20px;
    height: 100vh;
}

header {

    position: fixed;
    display: flex;
    flex-direction: column;

    /* align-items:flex-end  !important; */

}

.logo img {
    margin-left: 49px;
    margin-top: 8px;
    width: 28px;
    cursor: pointer;
}

.header-list {

    list-style: none;
    color: f7f9f9;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    margin: top 4px;
    margin-right: 40px !important;
    /* align-self: flex-start; */

}




.header-list li {
    display: flex;
    margin-top: 10px;
    margin-bottom: 24px;
    width: max-content;
    height: max-content;
    padding: 5px;
}

.header-list li:hover {
    border-radius: 200px;
    background: rgba(104, 113, 118, 0.153) !important;
    transition: 150ms ease-in-out;

}

.active {
    font-weight: 500;
}


.sidebar-logo {
    height: 26px;
    margin-right: 10px;
}

.sidebar-text {
    margin-left: 11px;

}

.sidebar-tweet-button {

    background-color: #1d9bf0;
    color: #fff;
    font-size: 18px !important;
    font-weight: 700;
    height: 50px;
    width: 220px;
    border-radius: 30px;
}

.sidebar-tweet-button:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px 0px;
    background-color: #178cda;
    transition: 150ms ease-in-out;
}

.bottom-section {

    margin-top: 30px !important;
    margin-bottom: 10px !important;
    border-radius: 50px;
    width: 200px !important;
    height: 60px !important;

}



.bottom-inline-div {
    display: flex;
}

.bottom-section img {
    margin-top: 10px;
    border-radius: 50%;
    width: 40px;
    object-fit: contain;
}

.bottom-section span {
    font-size: 15px !important;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 5px;


}

.bottom-div-text {
    position: relative;
    bottom: 20px;
    margin-left: 45px;
    font-size: 15px;
    color: rgb(104, 113, 118);

}



.center-content {
    display: flex;
    flex-direction: column;
    /* padding-right: 10px; */
    border-left: .5px solid rgba(128, 128, 128, 0.14);
    border-right: .5px solid rgba(128, 128, 128, 0.14);

}

.feed-top {
    width: 100%;
    padding-right: 1px;
}

.center-top-text {
    /* box-sizing: border-box; */
    position: fixed;
    display: flex;
    top: 0;
    padding: 10px;
    /* min-width: 100%; */
    width: 37%;
    height: 30px;
    opacity: 98%;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    z-index: 23;
}

.center-top-text div {

    font-size: 20px;
    font-weight: 600;
    letter-spacing: .3px;
    margin-top: 10px;
    /* line-height: 24px; */
}


.center-top-text img {
    position: absolute;
    right: 0;
    top: 0;
    height: 20px !important;
    justify-self: end;
}

.center-top {
    margin-top: 40px;
    /* padding-left: 13px;
        margin-right: 30px; */
}

.feed-top {
    border-bottom: .5px solid rgba(128, 128, 128, 0.14);
    padding-left: 13px;
    padding-right: 30px;
}

.tweet-feed {
    display: flex;
    gap: 10px;
    padding-left: 13px;
    margin-right: 30px;
}

.feed-top img {
    margin-top: 18px;
    width: 50px;
    object-fit: contain;
    border-radius: 50%;
}

.tweet-box {
    width: calc(100% - 50px);
    margin-top: 20px;
    border: 0px;
    font-size: 1.2rem;
    overflow-y: scroll;
}

.tweet-box:active,
.tweet-box:focus {
    outline: none !important;
}

.tweet-icons-top {
    display: flex;
    list-style: none;
    justify-content: start;
    /* position: relative; */

}

.tweet-icons-top li {
    margin-right: 20px;
}

.tweet-icons-top img {
    width: 20px;
}

.tweet-icons-top img:hover {
    border-radius: 50%;
    background-color: #1d9cf043;
    box-shadow: 0 0 0 5px #1d9cf043;
    transition: 150ms ease-in-out;
}

.tweet-button {
    /* position: absolute;
    right: 20px; */
    justify-self: end;
    background-color: #35a5efc6;
    color: #fff;
    font-size: 18px !important;
    font-weight: 550;
    margin-top: 12px;
    height: 30px;
    width: 90px;
    border-radius: 30px;

}

.feed-content {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    padding-right: 30px;
    /* padding-right: 20px; */
    border-bottom: .5px solid rgba(128, 128, 128, 0.14);
    /* margin-bottom: -1px; */
}

.feed-post {
    display: flex;
    padding-top: 10px;
    gap: 12px;
    padding-right: 10px;

}

.feed-post:hover {
    background-color: #EFF3F4;
    transition: 200ms ease-in;
}

.profile-img {
    width: 47px;
    object-fit: contain;
    border-radius: 50%;
}

.tweet-right-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.user-info {
    display: flex;
}

.tweet-feed-username {
    font-weight: 600;

}

.verified-tick {
    position: relative;
    top: 2px;
    margin-left: 1px;
    width: 15px;

}

.tweet-feed-userid {
    margin-left: 5px;


    margin-top: 2px;
    font-size: 14px;
    color: rgb(104, 113, 118);
}

.feed-options {
    position: absolute;
    right: 0px;
    width: 20px;


}

.tweet-post {
    display: flex;
    flex-direction: column;
    gap: 5px;


}

.tweet-description {
    font-size: 15px;
}

.tweet-description a {
    color: #178cda;
}

.tweet-feed-image {
    margin-top: 5px;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.tweet-icons {
    margin-left: 0;
    padding-left: 0;
    padding-right: 25px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    opacity: 90%;
    padding-bottom: 10px;
    border-bottom: .5px solid rgba(128, 128, 128, 0.14);

}

.tweet-icons img {
    width: 15px;
    margin-top: 2px;
}

.tweet-icons span {
    color: rgb(104, 113, 118);
    margin-left: 7px;
    position: relative;
    top: -2px;

}

.tweet-icons li:nth-child(1):hover>img,
.tweet-icons li:nth-child(4):hover>img {
    border-radius: 50%;
    background-color: #1d9cf043;
    box-shadow: 0 0 0 3px #1d9cf043;
    transition: 200ms ease-in-out;
}

.tweet-icons li:nth-child(1):hover>span {
    color: #1d9bf0;
    transition: 200ms ease-in-out;
}


.tweet-icons li:nth-child(2):hover>img {
    border-radius: 50%;
    background-color: #62f1c642;
    box-shadow: 0 0 0 3px #62f1c642;
    transition: 200ms ease-in-out;
}

.tweet-icons li:nth-child(2):hover>span {
    color: #2adfa9;
    transition: 200ms ease-in-out;
}

.tweet-icons li:nth-child(3):hover>img {
    border-radius: 50%;
    background-color: #ff150042;
    box-shadow: 0 0 0 5px #fe170242;
    transition: 200ms ease-in-out;
}

.tweet-icons li:nth-child(3):hover>span {
    color: #9d0d00b5;
    transition: 200ms ease-in-out;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
    padding-right: 30px;
}

.search-box-container {
    width: 330px;
    display: flex;
    gap: 5px;
    border-radius: 50px;
    position: fixed;
    background: #EFF3F4;
    padding: 5px;
    z-index: 20;
}

.search-box-container img {
    margin-left: 10px;
    width: 20px;
}

.search-box-container input {
    width: auto;
    height: 40px;
    font-size: 15px;
    background-color: transparent;
    border: none;
    outline: none;
}

.right-section-card {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 350px;
    background: #EFF3F4;
    border-radius: 10px;


}

.right-section-card h3 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: left !important;

}

.right-section-happening {
    position: relative;
    display: flex;
    gap: 10px !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.right-section-happening:hover {
    background-color: #dbdcdc;
    transition: 200ms ease-in;
}

.happening-column {
    display: flex;
    flex-direction: column;
    /* gap: 3px; */
    margin-right: 40px;
}

.happening-section-topic {

    color: #6A7984;
    font-size: 12px;
}

.happening-news {
    font-weight: 600 !important;
    font-size: 15px;
}

.happening-section-img img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.happening-section-feed-icon img {
    width: 20px;
    position: absolute;
    right: 0px;
}

.right-section-show-more {
    color: #178cda;
    cursor: pointer;
}

.right-section-last-content {
    position: sticky;
}

.right-section-second-card {
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 350px;
    background: #EFF3F4;
    border-radius: 10px;


}

.right-section-second-card h3 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: left !important;

}

.right-section-to-follow {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

}

.right-section-to-follow:hover {
    background-color: #dbdcdc;
    transition: 200ms ease-in;
}

.to-follow-img img {
    border-radius: 50%;
    width: 50px;
}

.to-follow-username {
    display: flex;
    flex-direction: column;
}

.to-follow-username span {
    font-weight: 600;
    margin-left: 10px;
}

.to-follow-username img {
    position: relative;
    top: 2px;
    width: 15px;
    margin-left: 2px;
}

.to-follow-userid {
    margin-left: 10px;
    color: #6A7984;
    margin-top: 3px;
}

.to-follow-button button {
    position: absolute;
    right: 13px;
    margin-top: 5px;
    width: 100px;
    border-radius: 50px;
    padding: 10px;
    background-color: #272C30;
    color: #fff;
    font-weight: 600;
}

.privacy-policy {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    gap: 10px;
    color: #6A7984;
    font-size: 12px;
    margin-top: 25px;
}

.privacy-policy span:hover {
    cursor: pointer;
}

.policy-firstline,
.policy-secondline,
.policy-thirdline {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

.policy-secondline img {
    position: absolute;
    top: 22px;
    right: 90px;
    /* margin-left: 12px; */
    width: 20px;

}

@media only screen and (max-width: 1278px) {
    .full-view {

        grid-template-columns: minmax(80px, 150px) minmax(320px, 600px) minmax(60px, 100px);
        /* margin: 0 auto; */

    }


    .left-content {
        /* padding: 2px; */
        padding-left: 8px;
    }

    header {
        width: 60px;
        align-items: center;

    }

    .logo img {
        margin-left: -6px;
    }

    .sidebar-text {
        display: none;
    }

    .header-list li {
        margin-left: 5px;
    }

    .sidebar-tweet-button {
        /* position: relative; */
        /* left: -40px; */
        width: 60px;
        margin-left: 0;


    }

    .sidebar-bottom-text {
        display: none;
    }

    .bottom-section img {

        width: 40px;
    }

    .bottom-section {


        border-radius: 50px;
        width: fit-content !important;
        /* height: fit-content !important;  */

    }

}
@media screen and (min-width: 1279px) and (max-width: 1300px) {
    .full-view {

        grid-template-columns: minmax(80px, 300px) minmax(350px, 550px) minmax(70px, 90px);

    }

}
@media only screen and (max-width: 1000px) {
    .full-view {

        grid-template-columns: 80px minmax(120px, 400px) 0px;
        /* margin: 0 auto; */

    }

    .right-content {
        display: none;
    }
}

@media only screen and (max-width: 700px) {

    .tweet-icons-top li:nth-child(3),
    .tweet-icons-top li:nth-child(4) {
        display: none;
    }
}

@media only screen and (max-height: 702px) {

    .bottom-section {
        margin-top: 10px !important;
    }

    .header-list a:nth-child(5) {
        display: none;
    }

    .header-list a:nth-child(6) {
        display: none;
    }
}